@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Doctor;
<h1>Doctor details</h1>
<br>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
@* <h3>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h3> *@
@if(Model.Specialties.Count == 0)
{
  <p>This doctor does not have any specialties.</p>
}
else
{
  <h4>Specialties:</h4>
  <ul>
  @foreach(var join in Model.Specialties)
  {
    <li>@Html.ActionLink($"{join.Specialty.SpecialtyName}", "Details", "Specialties", new { id = join.Specialty.SpecialtyId })</li>
    @using (Html.BeginForm("DeleteSpecialty", "Doctors"))
    {
      @Html.Hidden("doctorId", @join.DoctorId)
      @Html.Hidden("joinId", @join.DoctorSpecialtyId)
      <input type="submit" value="Delete" class="btn btn-warning btn-xs" />
    }
  }
  </ul>
}
<br>
@if(Model.Patients.Count == 0)
{
  <p>This doctor does not have any patients currently assigned.</p>
}
else
{
  <h4>Patients currently under care:</h4>
  <ul>
  @foreach(var join in Model.Patients)
  {
    <li>@Html.ActionLink($"{join.Patient.PatientName}", "Details", "Patients", new { id = join.Patient.PatientId })</li>
    @using (Html.BeginForm("DeletePatient", "Doctors"))
    {
      @Html.Hidden("doctorId", @join.DoctorId)
      @Html.Hidden("joinId", @join.DoctorPatientId)
      <input type="submit" value="Delete" class="btn btn-warning btn-xs" />
    }
  }
  </ul>
}
<br>
<p>@Html.ActionLink("Edit Doctor", "Edit", null, new { id = Model.DoctorId } , new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Add a Patient", "AddPatient", "Doctors", new { id = Model.DoctorId } , new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Add a Specialty", "AddSpecialty", "Doctors", new { id = Model.DoctorId } , new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId }, new {@class="btn btn-danger btn-sm"})</p>
<p>@Html.ActionLink("Back to Doctors", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>
