@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this Doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @* @Html.LabelFor(model => model.Specialty)
  @Html.EditorFor(model => model.Specialty) *@

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.DoctorId}, new {@class="btn btn-primary btn-sm"})</p>