@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Add a doctor</h2>

<h4>Add a doctor to this patient: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Patient List", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>