@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient;

<h4>Add a new patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.PatientName)
    @Html.TextBoxFor(model => model.PatientName)
    @Html.LabelFor(model => model.Birthdate)
    @Html.TextBoxFor(model => model.Birthdate)

    @Html.Label("Select doctor")
    @Html.DropDownList("DoctorId")
    <br><br>
    <input type="submit" value="Add new patient" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Show all patients", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>