@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Patient

<h2>Edit</h2>

<h4>Edit this patient: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.PatientName, "Patient Name")
  @Html.EditorFor(model => model.PatientName)

  @Html.LabelFor(model => model.Birthdate)
  @Html.EditorFor(model => model.Birthdate)

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.PatientId}, new {@class="btn btn-info btn-sm"})</p>